/* comments.css */
.comments-section {
  display: flex;
  flex-direction: column;
  align-items:first baseline;
  font-family: avenir!important;
}

.comments {
  width: 100%;
  margin-top: 50px;
  background-color: rgb(193, 198, 203);
  border-radius: 5px;
  border: 1px solid #030303;
}

.comments form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.comment-command {
  margin-left: 0px;
  font-family: avenir!important;
  color: rgb(22, 22, 22);
}

.comments label {
  font-weight: bold;
  margin-bottom: 5px;
}

.comments textarea {
  height: 50px;
  margin-bottom: 2px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #030303;
  font-size: 20px;
  width: 880px;
  background-color: #e8e5e5;
  font-family: avenir!important;
  margin-left: -60px;
  margin-right: 12px;
}

.comments button[type="submit"] {
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fffdfd;
  font-size: 15px;
  cursor: pointer;
  margin-left: -60px;
}

.comments-title {
  color:#0c0c0c;
  font-size: 25px;
  margin-left: 15px;
  margin-top: -20px;
  margin-bottom: 10px;
}

.comment {
  border-radius: 0px;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  margin-right: 5rem;
  color: black;
  font-size: 20px;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0px;
}

.comments h2 {
  font-size: 15px;
  margin-bottom: 10px;
}

.no-comment {
  color: rgb(203, 93, 93);
  font-size: 18px;
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 1rem;
  align-items: flex-end;
}

.delete-button {
  background-color: none;
  font-family: avenir!important;
  float: right;
}


  