/* comments.css */
.comments-section {
  display: flex;
  flex-direction: column;
  align-items:center;
  font-family: avenir!important;
}

.comments {
  width: 60%;
  margin-top: 150px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #030303;
}

.comments form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.comment-command {
  margin-left: -15px;
  font-family: avenir!important;
  color: rgb(22, 22, 22);
}

.comments label {
  font-weight: bold;
  margin-bottom: 5px;
}

.comments textarea {
  height: 100px;
  margin-bottom: 2px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #030303;
  font-size: 20px;
  width: 880px;
  background-color: #fcfbfb;
  font-family: avenir!important;
}

.comments button[type="submit"] {
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fffdfd;
  font-size: 16px;
  cursor: pointer;
}

.comments-title {
  color:#0c0c0c;
  font-size: 28px;
  margin-left: 75px;
  padding-top: 5px;
}
.comments ol {
  list-style-type:circle;
  padding: 30px;
  width: 1000px;
  margin-left: 50px;
  margin-right: 100px;
  
}

.comments .comment {
  // background-color: #ddd6d6;
  border-radius: 0px;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  margin-right: 5rem;
}

.comments h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.no-comment {
  color: rgb(203, 93, 93);
  font-size: 20px;
  margin-left: 75px;
  padding-top: 10px;
  padding-bottom: 2rem;
}

  