.single-container {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  align-items:center;
}

.brewery-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  
}

.single-brewery-name {
  font-size: 2em;
  margin: 0 0 10px;
}

.brewery-details {
  list-style: none;
  padding: 0;
  margin: 0;
}

.brewery-details li {
  margin-bottom: 10px;
  font-size: 1.2em;
  line-height: 1.5;
}

.brewery-details .label {
  font-weight: bold;
}

.brewery-phone a {
  color: #4980ef;
  text-decoration: none;
  border-bottom: 1px solid #333;
  transition: border-bottom-color 0.3s ease;
}

.brewery-phone a:hover {
  border-bottom-color: transparent;
}

.website-link {
  color: #2961d3;
  text-decoration: none;
  border-bottom: 1px solid #333;
  transition: border-bottom-color 0.3s ease;
  padding-left: 5px;
}

.website-link:hover {
  border-bottom-color: transparent;
  padding-left: 5px;
}

.website-unavailable {
  color: #aaa;
  font-style: italic;
}

.add-to-favorites {
  margin-top: 20px;
  text-decoration: none;
}

.add-to-favorites-button {
  background-color: #85cc8f;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff !important;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;

  &:hover {
    background-color: #25813c;
  }
}

.address-button {
  background-color: #85cc8f;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #f8f4f4;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;

  &:hover {
    background-color: #557c5e;
  }
}

