.favourites-text {
  display: flex;
  flex-direction: column;
  justify-content:first baseline;
  align-items:start;
  margin: 50px 0;
  padding-top: 2rem;
  color:#f9e4e4;
  font-family: avenir!important;
  margin-left: 3rem;

}

.favourites-paragraph {
  margin-bottom: 5px;
  font-size: 28px;
  font-family: avenir!important;
}

.user-fav-breweries {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px;
  font-family: avenir!important;


  .brewery-card {
    width: 600px;
    margin: 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;

    .card-image {
      height: 200px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      font-size: 20px;

      .card-details {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #232c36;
        padding: 10px;
        color: #fff;
        text-align:left;
        font-size: 30px;
        height: 180px;

        h4 {
          margin: 0;
        }

        p {
          font-size: 19px;
          margin: 5px 0;
        }

        a {
          color: #fff;
          text-decoration: underline;
        }

        .phone-link {
          color: #57bbf4;
        }

        .website-link {
          color:#57bbf4;
        }

        button {
          height: 30px;
          background-color: rgb(206, 83, 83);
          color: #fff;
          border-radius: 0.4rem;
          cursor: pointer;
        }
        button:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
